{% extends "Base.html" %}
{% block body %}

<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript">
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register("/static/service-worker.js").then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script>


<header class="index_header">
  <h1 class="index_header_title">TTC BUDDY</h1>
</header>





{% endblock %}