<!--
	This is the Deeplearni.ng Landing page.
	It is a single page application, containing both the upload and reporting functionality. 
-->
{% extends "Base.html" %}
{% block body %}
<div>
<!--Get the msg parameter sent from server. It is in JSON format.-->
<script>
	var landingPage_msg = {{ msg|tojson }}
</script>

<!--The body of the application is divided into sections. Corresponding to different section in the application.-->
<!--Header Section-->
<div class="row landingPage_topRow">
	<div class="landingPage_leftCol_1">
		<div class="landingPage_headerTitle">
			<h1>Compressed Sensing</h1>
			<h4>A demo application for Compressed Sensing technique!</h4>
			<a href="https://www.linkedin.com/in/ashkan-dehghan-phd-14591086/"><img class="landingPage_Social" src="/static/images/BaseImg/linkedin.png"></a>
			<a href="https://twitter.com/elmspace"><img class="landingPage_Social" src="/static/images/BaseImg/twitter.png"></a>
		</div>
	</div>
	<div class="landingPage_rightCol_1">
		<div class="landingPage_headerTitle">
		</div>
	</div>
</div>
<div class="row landingPage_secondRow">
	<div class="landingPage_centerCol_1">
		<a class="landingPage_TopLinks" href="#" data-toggle="modal" data-target="#UploadFormModal"><img id="addtxtFileImg" src="/static/images/BaseImg/add.png" width="50" height="50"></a>
		<div id="UploadFile">
			
		</div>
		<div id="ProccessedFile">
			<div class="imgs" id="originalImg">
				<h4>Original Img:</h4>
			</div>
			<div class="imgs" id="compressedImg">
				<h4>Compressed Img:</h4>
			</div>
			<div class="imgs" id="recoveredImg">
				<h4>Recovered Img:</h4>
			</div>
		</div>
	</div>
</div>
<!--Footer.-->
<div class="row landingPage_sixthRow">
	<div class="landingPage_centerCol_1">
		<p class="landingPage_FooterNote"> &copy; 2018 Ashkan Dehghan ALL RIGHTS RESERVED</p>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="UploadFormModal" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
	  <h4 class="modal-title">Upload JPEG File</h4>
	</div>
	<div class="modal-body">
		<form class="UploadForm" method="post" action="/uploadfile" enctype="multipart/form-data">
			<div class="form-group">
				<input type=file name=file>
				

				<div class="form-group">
					<label for="compression_rate_x">X-Compression:</label>
					<input type="text" class="form-control" id="compression_rate_x" name="compression_rate_x" type="number" step="0.01" min="0.01" max="1.0">
				</div>
				<div class="form-group">
					<label for="compression_rate_y">Y-Compression:</label>
					<input type="text" class="form-control" id="compression_rate_y" name="compression_rate_y" type="number" step="0.01" min="0.01" max="1.0">
				</div>


				<div class="formSubmitButton">
					<input class="btn btn-success" type="submit">
				</div>
			</div>
		</form>
	</div>
  </div>
</div>
</div>
<!---->
</div>
{% endblock %}